<!DOCTYPE html>
<html>
  <head>
    <script> function back() { window.history.back(); } </script>
    <title>면접후기 작성</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>면접후기 작성</h1>
    <a href="/"><button>홈</button></a>
    <a href="/"><button onclick="back()">뒤로</button></a>

     <form action="/interview/insertInterview" method="post">
        <table width="1300" border="1">
            <tr>
                <th width="300">활동시기(2015 상반기)</th>
                <td width="1000"><input type="text" name="term" size="160" maxlength="160"></td>
            </tr>
            <tr>
                <th>면접 난이도(1~5)</th>
                <td><input type="number" name="level" size="160" maxlength="160"></td>
            </tr>
            <tr>
                <th>면접 결과(0:합격 / 1:불합격)</th>
                <td><input type="text" name="result" size="160" maxlength="160"></td>
            </tr>
            <tr>
                <th>면접 질문</th>
                <td><input type="text" name="question" size="160" maxlength="160"></td>
            </tr>
            <tr>
                <th>면접 답변</th>
                <td><input type="text" name="answer" size="160" maxlength="160"></td>
            </tr>
            <tr>
                <th>면접 방식</th>
                <td><input type="text" name="way" size="160" maxlength="160"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="저장">                    
                </td>
            </tr>
        </table>
    </form>
  </body>
</html>