<!DOCTYPE html>
<html>
  <head>
    <script> function back() { window.history.back(); } </script>
    <title>활동후기 작성</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>활동후기 작성</h1>
    <a href="/"><button>홈</button></a>
    <a href="/"><button onclick="back()">뒤로</button></a>
    
    <form action="/postscript/insertPostscript" method="post">


        <table border="1" width="1300">
            <tr>
        		<th width="400">활동시기(2014 상반기)</th>
        		<td width="900"><input type="text" name="term" size="160" maxlength="160"></td>
        	</tr>
        	<tr>
        		<th>활동 총 평점(1~5)</th>
        		<td><input type="number" name="rate"></td>
        	</tr>
        	<tr>
        		<th>활동 한 줄 평</th>
                <td><input type="text" name="comment" size="160" maxlength="160"></td>
        	</tr>
        	<tr>
        		<th>도움이 된 점</th>
                <td><input type="text" name="goodComment" size="160" maxlength="160"></td>
        	</tr>
            <tr>
                <th>아쉬웠던 점</th>
                <td><input type="text" name="badComment" size="160" maxlength="160"></td>
            </tr>
        	<tr align="center">
        		<td colspan="2">
        			<input type="submit" value="저장">        			
        		</td>
        	</tr>
        </table>
    </form>
  </body>
</html>